@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer components {
  .editor {
    margin: 1rem;
    display: flex;
  }

  .editor .gutters {
    margin-right: 1rem;

    .gutter {
    }
  }

  .gutter.breakpoints {
    .breakpoint {
    }
  }

  .gutter.line-numbers {
    .line-number {
    }

    .line-number.--active {
    }
  }

  .editor .content {
    flex: 1 1 0%;

    &:focus {
      outline: none;
      box-shadow: none;
      border: 0;
    }

    .line {
      white-space: pre;

      &:empty::after {
        content: ">> empty here!! should not happen! plez report! <<";
        background-color: red;
      }

      &.--active {
        background-color: rebeccapurple;
      }
    }
  }
}
