@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer components {
  .editor {
    margin: 1rem;
    display: flex;
  }

  .editor__gutters {
    margin-right: 1rem;

    .gutter {
    }
  }

  .gutter.breakpoints {
    .breakpoint {
    }
  }

  .gutter.line-numbers {
    .line-number {
    }

    .line-number.--active {
    }
  }

  .editor__lines {
    flex: 1 1 0%;

    .line {
      white-space: pre;
    }

    .line:empty::after {
      content: ">> empty here!! should not happen! plez report! <<";
      background-color: red;
    }

    .line.--active {
      background-color: rebeccapurple;
    }
  }

  .editor__lines:focus {
    outline: none;
    box-shadow: none;
    border: 0;
  }
}
