.editor {
  display: flex;
  width: 100%;
  max-width: 100%;
  overflow: auto;
  height: 100%;
  align-items: flex-start; /* magic fix */
}

.editor .gutters {
  position: sticky;
  left: 0;
  z-index: 2;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  padding-right: 1rem;
  background-color: #1e1e1ee7;
  user-select: none;

  .gutter {
    content-visibility: auto;
  }

  .breakpoints {
    position: relative;
    width: 100%;

    .breakpoint {
      will-change: transform;
      position: absolute;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .line-numbers {
    width: 3rem;

    .line-number {
      text-align: right;
    }

    .line-number.--active {
    }
  }
}

.editor .content {
  flex: 1 1 0%;

  &:focus {
    outline: none;
    box-shadow: none;
    border: 0;
  }

  .line {
    white-space: pre;
    content-visibility: auto;

    &:empty::after {
      content: ">> empty here!! should not happen! plez report! <<";
      background-color: red;
    }

    &.--active {
      background-color: rebeccapurple;
    }
  }
}
