.editor {
  display: flex;
  width: 100%;
  max-width: 100%;
  overflow: scroll;

  &::-webkit-scrollbar,
  &::-webkit-scrollbar-corner {
    width: 0.7rem;
    height: 0.7rem;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #5a5a5a;
  }
}

.editor .gutters {
  padding-right: 1rem;

  .gutter {
  }

  .breakpoints {
    .breakpoint {
    }
  }

  .line-numbers {
    width: 3rem;

    .line-number {
      text-align: right;
    }

    .line-number.--active {
    }
  }
}

.editor .content {
  flex: 1 1 0%;

  &:focus {
    outline: none;
    box-shadow: none;
    border: 0;
  }

  .line {
    white-space: pre;

    &:empty::after {
      content: ">> empty here!! should not happen! plez report! <<";
      background-color: red;
    }

    &.--active {
      background-color: rebeccapurple;
    }
  }
}
