@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  #root {
    background-color: #323233;
    height: 100%;
    display: grid;
    grid-template-columns: minmax(0, 1fr) auto;
    grid-template-rows: min-content minmax(0, 1fr) min-content;
    align-items: stretch;
  }

  header,
  footer {
    grid-column: 1 / 3;
  }
}
