@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  :root {
    font-family: "Courier New", Courier, monospace;
    /* NEVER change this (many depend on this being 1.5) */
    line-height: 1.5;
    font-weight: 400;

    color-scheme: dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: unset;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  :root,
  body {
    height: 100vh;
  }

  * {
    &::-webkit-scrollbar,
    &::-webkit-scrollbar-corner {
      width: 0.7rem;
      height: 0.7rem;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #5a5a5a;
    }
  }
}
